.login_block {
    width: 300px;
    min-height: 200px;
    margin: 100px auto;
    padding: 5px 10px;
    text-align: right;
}

.title {
    text-align: center;
    font-size: 30px;
    margin-bottom: 10px;
}

.label {
    font-size: 20px;
    display: block;
}

.field {
    width: 100%;
    height: 30px;
    box-sizing: border-box;
    border: none;
    font-size: 16px;
    box-shadow: 0 .2px 0 #000000;
    outline: none;
    margin-bottom: 5px;
    margin-top: 30px;
}
.field:-webkit-autofill,
.field:-webkit-autofill:hover,
.field:-webkit-autofill:focus,
.field:-webkit-autofill:active  {
    transition: background-color 5000s;
    -webkit-text-fill-color: #000000 !important;
}
.error {
    text-align: left;
    color: red;
    font-size: 13px;
}

.field_error {
    box-shadow: 0 .5px 0 red;
}

.submit {
    margin-top: 10px;
    width: 100px;
    height: 40px;
}

.link {
    text-decoration: none;
}

.link:hover {
    opacity: 0.8;
}

.nav_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.flex_box {
    display: flex;
    justify-content: space-between;
}
.flex_field {
    width: 49%;
    box-sizing: border-box;
}
