.date_icon {
    width: 100%;
    height: 100%;
    cursor: pointer;
    padding: 5px 0;
}
.date_icon img {
    width: 30px;
    height: 30px;
}
.date_icon img:hover {
    transform: scale(.96);
}
.date_field {
    display: none;
}