.link {
    color: #000;
    text-decoration: none;
}
.green {
    color: green;
}

.item {
    width: 160px;
    height: 160px;
    cursor: pointer;
    box-shadow: 0 0 5px #e0e0e0;
    border-radius: 5px;
    margin: 10px 5px;
    background: #ffffff;
    padding-top: 1px;
}
.current {
    box-shadow: 0 0 20px gold;
}

.nameOfDay, .number, .note {
    margin-top: 10px;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    opacity: .7;
}
.number {
    font-size: 60px;
}
.note {
    margin-top: 5px;
    font-size: 18px;
}
.isHoliday {
    color: red;
}

.item:hover .nameOfDay,
.item:hover .number,
.item:hover .note {
    opacity: 1;
}

.current .nameOfDay,
.current .number,
.current .note {
    opacity: .9;
}

@media (max-width: 480px) {
    .item {
        width: 100%;
        height: 40px;
        border-radius: 0;
        margin: 10px 0;
        display: flex;
    }
    .nameOfDay, .number, .note {
        width: 33.3%;
        margin: 0;
        font-size: 22px;
        line-height: 40px;
    }
}