.dates__wrapper {
    width: 360px;
    height: 100%;
    padding-bottom: 15px;
    border-radius: 0 0 2px 2px;
    background-color: #ffb300;
    border-top: 1px solid #ff6f00;
}
.dates__container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
}
.dates__title {
    margin: 0;
    text-align: center;
    padding: 10px;
    font-size: 24px;
    color: #ffffff
}
.dates__field {
    width: 45%;
}
.dates__button_box {
    text-align: right;
    padding: 10px 10px 0 0;
}
.dates__button {
    width: 120px;
    height: 40px;
    border: none;
    box-shadow: 0 0 5px #ffffff;
    background-color: #ffb300;
    cursor: pointer;
    outline: none;
    color: #ffffff;
    font-size: 20px;
    border-radius: 5px;
}
.dates__button:hover {
    opacity: .9;
    box-shadow: 0 0 5px #ff6f00;
}
.dates__button:active {
    transform: scale(.98);
}
.dates__error {
    text-align: right;
    padding: 0 10px;
    color: red;
    font-style: italic;
}

