.app {
    overflow: hidden;
    max-width: 1200px;
    min-height: 100vh;
    margin: 0 auto;
    position: relative;
}

.dates__popup {
    position: absolute;
    top: 40px;
    left: 0;
    opacity: 0;
    transition: opacity .2s;
    z-index: -999;
}

.dates__popup_active {
    opacity: 1;
    z-index: 100;
}
@media(max-width: 510px) {
    .dates__popup {
        width: 100%;
    }
}