.container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.notepad {
    max-width: 800px;
    min-height: 40px;
    height: 100%;
    background-color: #fff59d;
    margin: 20px auto;
    box-shadow: 0 0 20px #fff59d;
    border-radius: 10px;
    padding: 20px;
    position: relative;
}
.log_out {
    display: block;
    width: 30px;
    height: 50px;
    background: url("../../assets/images/log-out.svg");
    background-size: 30px 50px;
    position: absolute;
    top: 15px;
    left: 25px;
}

.notepad_row {
    width: 100%;
    min-height: 30px;
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    margin-top: 10px;
}

.time {
    display: block;
    line-height: 30px;
    font-size: 18px;
    color: #63316d;
    margin-right: 5px;
    padding: 0 10px;
}

.field {
    border: none;
    width: 100%;
    height: 30px;
    line-height: 30px;
    background: #fff59d;
    font-size: 20px;
    padding: 0 10px;
    resize: none;
}

.field:focus {
    outline: none;
}

.title {
    width: 100%;
    height: 35px;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    color: red;
    margin-bottom: 20px;
}
.title__notepad_row {
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    color: red;
    margin-top: 10px;
}
.notepad__message {
    font-size: 25px;
    text-align: center;
    color: red;
}

@media (max-width: 800px) {
    .notepad {
        width: 100%;
        height: 100%;
        margin: 0;
        border-radius: 0;
        padding: 20px;
        position: relative;
    }
    .notepad__message {
        font-size: 20px;
        padding: 10px 40px;
    }
}
@media (max-width: 480px) {
    .notepad {
        padding: 5px;
    }
    .log_out {
        width: 25px;
        height: 40px;
        background-size: 25px 40px;
        top: 5px;
        left: 10px;
    }
    .notepad_row {
        min-height: 20px;
    }
    .time {
        margin-right: 0;
        padding: 0;
        line-height: 20px;
        font-size: 15px;
    }
    .title {
        font-size: 30px;
    }
    .title__notepad_row {
        font-size: 20px;
    }

    .field {
        max-width: 100%;
        line-height: 20px;
        font-size: 16px;
        height: 20px;
    }
}